$page-width: 900px;
$sidebar-width: 200px;
$padding-width: 30px;
$white: #F7FFFA;
$main: #98FFC0;
$dark: #0A632D;
$acclight: #FF9C96;
$accdark: #B21F17;

$white: #D7CEC7;
$dark: #565656;
$main: #C09f80;
$accdark: #76323F;

$white: #f1f1f1;
$main: #5696D8;
$dark: #062668;
$acclight: #76B6F8;
$accdark: #165698;


body {
  background-color: $white;
  color: $dark;
  font-family: 'Helvetica';
  &.evil {
    background-color: #ffb0b0;

  }
}
input[type="submit"], button {
  background-color: $acclight;
  color: $dark;
  padding: 4px 6px;
  // border: none;
  border: 1px solid $dark;
}
input[type="text"], input[type="password"], textarea {
  color: $dark;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid $dark;
  &:focus {
    border-color: $main;
  }
}

.menu {
  // width: $page-width;
  width: $page-width - 2 * $padding-width;
  // margin: auto;
  border-bottom: 1px solid;
  height: 100px;
  padding: 0 0 $padding-width/2 0;
  margin: 0 $padding-width $padding-width/2 $padding-width;
  // background-color: green;

  img.logo {
    height: 100%;
    float: left;
  }
  h1, h2, h3, h4, h5 {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: $padding-width;
    color: $accdark;
  }
}

.message {
  margin: 0 $padding-width $padding-width/2 $padding-width;
  background-color: $white;
  border: solid 1px $accdark;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.tip {
  font-size: small;
  border: 1px solid $accdark;
  border-radius: 5px;
  padding: 10px;
  background-color: $white;
  margin-bottom: 10px;
  ol, ul {
    margin: 0px;
  }
}
.evil .container {
  padding: 20px;
  padding-left: 80px;
  width: $page-width - 100px;
}
body > div.container {
  padding: 0px;
  background-color: white;
  width: $page-width;
  margin: auto;
  margin-top: $padding-width;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;

  .sidebar {
    width: $sidebar-width;
    min-height: 100px;
    float: left;
    a, span {
      width: $sidebar-width - $padding-width;
      margin-left: $padding-width;
      // margin-bottom: -1px;
      padding-top: 5px;
      display: inline-block;
    }

    a {
      // display: inline-block;
      text-align: left;
      text-decoration: none;
      color: $dark;
      // border: solid 1px $dark;

      transition: 0.1s color, 0.1s margin-left;
    }
    a:hover {
      color: $accdark;
      // border-color: $acclight;
      background-color: $white;
      // margin-left: $padding-width + 10px;
    }
  }

  .content {
    float: right;
    width: $page-width - $sidebar-width - 2*$padding-width;
    // background-color: #f5fff5;
    padding-left: $padding-width;
    padding-right: $padding-width;
    .search {
      input {
        padding: 5px;
        &[type="text"] {
          width: 300px;
        }
      }
    }
    .forum {
      .post {
        border: 1px solid;
        margin-bottom: 1em;
        padding: 0.5em;
        .post-header {
          margin-bottom: 0.5em;
          border-bottom: solid 1px;
          small {
            float: right;
          }
        }
      }
      input[type="text"], textarea {
        padding: 0.5em;
        margin-bottom: 0.5em;
        width: 100%;
      }
      input[type="submit"] {
        padding: 0.5em;
        width: 10em;
      }
    }
  }
  .login {
    input {
      margin-bottom: 5px;
    }
  }

  .footer {
    clear: both;
    margin-left: $padding-width;
    margin-right: $padding-width;
    padding: $padding-width/2 0 $padding-width/2 0;
    border-top: 1px solid $dark;
  }
}

