<html>
<head>
    <title> {% block head %}XSS | {{request.endpoint}}{% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="shortcut icon" href="/static/img/console.png"/>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="menu">
            <a href="{{ url_for('root') }} ">
                <img class="logo" src="/static/img/fmf_logo.png" alt="fmflogo"/>
            </a>
            <h1> XSS, XSRF and other letters</h1>
            <br/>
            <h2> Workshop on FMF </h2>
        </div>
            {# {{g}} #}
        {% if g.message %}
        <div class="message">
            {{g.message}}
        </div>
        {% endif %}
        {# <hr> #}
        <div class="sidebar">
            {% if session.user %}
            <span> <strong>
                Welcome, <br/>
                {{ session.user[0] }}
            </strong></span>
            {% endif %}
            <a href="{{ url_for('root') }}"> Home </a>
            <a href="{{ url_for('search') }}"> Search </a>
            <a href="{{ url_for('login') }}"> Login </a>
            {% if session.user %}
            <a href="{{ url_for('logout') }}"> Logout </a>
            {% endif %}
            <a href="{{ url_for('forum') }}"> Forum </a>
            <a href="{{ url_for('evil') }}"> Evil </a>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer">
            Made By Maks Kolman <a href="{{ url_for('reset_db') }}">&nbsp;</a>
        </div>
    </div>
</body>
</html>
