{% extends "base.html" %}
{% block content %}
<div class="forum">
    <h1>One forum to rule them all</h1>
    {% for author, title, content, img in posts %}
        <div class="post">
            <div class="post-header">
                <b>{{ title | safe }}</b>
                <small>by {{ author | safe }}</small>
            </div>
            <div class="post-content">
                {% if img %}
                    <img src="{{img}}"/>
                {% endif %}
                {{ content | safe }}
            </div>
        </div>
    {% endfor %}
    {% if session.user %}
    <h2>Post as {{session.user[0]}}</h2>
    <form method="GET">
        <input type="hidden" name="action" value="new"/>
        {# <input type="hidden" name="_csrf_token" value="{{csrf_token()}}"> #}
        <input placeholder="Title" type="text" name="title"/> <br/>
        <input placeholder="Image (optional)" type="text" name="img"/> <br/>
        <textarea placeholder="Enter your message here" name="content"></textarea> <br/>
        <input type="submit" value="Post"/>
    </form>
    {% else %}
    <h2>Login to post</h2>
    {% endif %}
</div>
{% endblock %}
