{% extends "base.html" %}
{% block content %}
<div>
    <h1>Struktura spleta</h1>
    <img src="/static/img/clientserverdiagm.png"/>
    <h1> Nevarnosti na spletu </h1>
    <p>The Open Web Application Security Project (OWASP): <a href="https://raw.githubusercontent.com/OWASP/Top10/master/2017/OWASP%20Top%2010%20-%202017%20RC1-English.pdf"> The Ten Most Critical Web Application Security Risks</a></p>
    {# <img src="/static/img/OWASP.png"/>
    <br/>
    <br/> #}
    <strong style="width: 35%;padding-left: 10%; display: inline-block;">List for 2013</strong>
    <strong style="width: 35%;padding-left: 10%; display: inline-block;">List for 2017</strong>
    <ol style="width: 43%; display: inline-block;">
        <li>Injection</li>
        <li>Broken Authentication and Session Management</li>
        <li>Cross-Site Scripting (XSS)</li>
        <li>Insecure Direct Object References</li>
        <li>Security Misconfiguration</li>
        <li>Sensitive Data Exposure</li>
        <li>Missing Function Level Access Control</li>
        <li>Cross-Site Request Forgery (CSRF)</li>
        <li>Using Components with Known Vulnerabilities</li>
        <li>Unvalidated Redirects and Forwards</li>
    </ol>
    <ol style="width: 43%; display: inline-block;">
        <li>Injection</li>
        <li>Broken Authentication and Session Management</li>
        <li>Cross-Site Scripting (XSS)</li>
        <li>Broken Access Control</li>
        <li>Security Misconfiguration</li>
        <li>Sensitive Data Exposure</li>
        <li>Insufficient Attack Protection (NEW)</li>
        <li>Cross-Site Request Forgery (CSRF)</li>
        <li>Using Components with Known Vulnerabilities</li>
        <li>UnderprotectedAPIs (NEW)</li>
    </ol>
</div>
{% endblock %}
