{% extends "base.html" %}
{% block content %}
<div>
    <h1>Struktura spleta</h1>
    <img src="/static/img/clientserverdiagm.png"/>
    <h1> Nevarnosti na spletu </h1>
    {# <br/> #}
    <strong style="width: 35%;padding-left: 10%; display: inline-block;">List for 2013</strong>
    <strong style="width: 35%;padding-left: 10%; display: inline-block;">List for 2017</strong>
    <ol style="width: 43%; display: inline-block;">
        <li>Injection</li>
        <li>Broken Authentication and Session Management</li>
        <li>Cross-Site Scripting (XSS)</li>
        <li>Insecure Direct Object References</li>
        <li>Security Misconfiguration</li>
        <li>Sensitive Data Exposure</li>
        <li>Missing Function Level Access Control</li>
        <li>Cross-Site Request Forgery (CSRF)</li>
        <li>Using Components with Known Vulnerabilities</li>
        <li>Unvalidated Redirects and Forwards</li>
    </ol>
    <ol style="width: 43%; display: inline-block;">
        <li>Injection</li>
        <li>Broken Authentication and Session Management</li>
        <li>Cross-Site Scripting (XSS)</li>
        <li>Broken Access Control</li>
        <li>Security Misconfiguration</li>
        <li>Sensitive Data Exposure</li>
        <li>Insufficient Attack Protection (NEW)</li>
        <li>Cross-Site Request Forgery (CSRF)</li>
        <li>Using Components with Known Vulnerabilities</li>
        <li>UnderprotectedAPIs (NEW)</li>
    </ol>
    <h1> Več zabave </h1>
    <ol>
        <li><a href="https://www.codebashing.com/sql_demo">Kratek vodič po SQL injection</a></li>
        <li><a href="https://xss-game.appspot.com/">Googlova XSS igra</a></li>
        <li><a href="https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project">The Open Web Application Security Project</a> - Največje nevarnosti na spletu (<a href="https://raw.githubusercontent.com/OWASP/Top10/master/2017/OWASP%20Top%2010%20-%202017%20RC1-English.pdf">pdf</a>)</li>
        <li><a href="https://twitter.com/dergeruhn/status/476764918763749376?lang=en">Samo-retweetetan tweet</a> na <a href="https://tweetdeck.twitter.com/">Tweetdecku</a>. Razlaga: <a href="https://www.youtube.com/watch?v=zv0kZKC6GAM">video</a></li>
    </ol>
</div>
{% endblock %}
