{% extends "base.html" %}
{% block content %}
<div class="login">
    <h1>Login</h1>
    {% if session.user %}
    <p> <b>You are logged is as {{session.user[0]}} ({{session.user[1]}}).</b></p>
    {% endif %}
    <p>
        To create a new account write in your name. <br/>
        To login with an existing account you can just enter your username and password.
    </p>
    <form method="GET">
        <input type="hidden" name="action" value="login">
        {# <input type="hidden" name="_csrf_token" value="{{csrf_token()}}"> #}
        <input placeholder="Full name" type="text" name="full_name" /> <br/>
        <input placeholder="Username" type="text" name="username" /> <br/>
        <input placeholder="Password" type="password" name="password" /> <br/>
        <input type="submit" value="Login"/>
    </form>
</div>
{% endblock %}
